@media (min-width: 320px) {
    .card {
        width: 310px;
        height: 320px;
        flex-direction: column;
        background: #ffffff;
        border-radius: 30px;
        box-shadow: 0 2px 9px #00000056;
        margin: 10px auto;
        padding-top: 5px;
    }
}
@media (min-width: 375px) {
    .card {
        width: 310px;
        height: 320px;
    }
}

@media (min-width: 425px) {
    .card {
        width: 405px;
        height: 400px;
        padding-top: 10px;
    }
}

@media (min-width: 750px) {
    .card {
        width: 95%;
        height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
}

@media (min-width: 1140px) {
    .card {
        margin: 10px auto;
        width: 95%;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: row;
        background: #ffffff;
        border-radius: 30px;
        box-shadow: 0 2px 9px #00000056;
    }
}

.card_img_wrapper {
    display: flex;
    flex: 1;
    margin-left: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px #000000;
    border-radius: 30px;

}

@media (max-width: 750px) {
    .card_img_wrapper {
        margin: 0 auto;
        width: 95%;
    }
}

.card_img_wrapper img {
    width: 100%;
    border-radius: 30px;
}

.card_descr {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    flex: 1;
}

@media (max-width: 750px) {
    .card_descr {
        padding: 10px;
        margin: 0;
    }
    .card_descr p {
        margin: 0;
        font-size: large;
    }
}